# Hello, Python

Python was named for the British comedy troup Monty Python, our first Python program is a homage to their skit about spam.

https://www.kaggle.com/code/colinmorris/hello-python

In [ ]:
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of spam)
spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)

Let's review the code from top to bottom

In [9]:
spam_amount = 0

**Variable Assignment**

We create a variable called ` spam_amount ` and assign it the value of 0 using `=`, which is called the assignment operator.

In [7]:
print(spam_amount)

0

**Function Calls**

`print` displays the value passed to it on the screen (**argument**)

In [11]:
# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)

spam_amount = spam_amount + 4

The line beginning with the `#` symbol is called a comment

**Variable Reassignment**

Next we reassign, or update, its previous value

In [12]:
if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam Spam Spam"
print(viking_song)

But I don't want ANY spam!
Spam Spam Spam

**Conditionals**

* Which code belongs to the if block?
    * "But I don't want ANY spam! only prints if spam_amount is positive.
* What about the later code?
    * code like print(viking_song) executes no matter what.

In [13]:
viking_song = "Spam " * spam_amount
print(viking_song)

Spam Spam Spam Spam

The `*` operator can multiply two numbers ( `3 * 3` )

We can also multiply a string by a number, to repeat that string x many times.

## Numbers and Arithmetic in Python

In [14]:
# An example of a variable containing a number

spam_amount = 0

**Integers**

"Number" is the informal name for this kind of thing

To be more technical, here's how Python describes this as an integer (`int`)

In [16]:
print(type(spam_amount))

<class 'int'>

**Floats**

A `float` is a number with a decimal place - very useful for representing things like weights or proportions.

In [17]:
print(type(19.95))

<class 'float'>

**Arithmetic Operators**

In [20]:
print("Sum:", 9 + 9) # addition
print("Difference:", 9 - 9) # subtraction
print("Product:", 9 * 9) # multiplication
print("Quotient (float):", 99 / 9) # true division (float)
print("Quotient (int):",  99 // 9) # floor division (int)
print("Int remainder:", 99 % 9) # modulus
print("Exponent:", 9 ** 9) # exponentiation
print("Negation:",-9) # negation

Sum: 18
Difference: 0
Product: 81
Quotient (float): 11.0
Quotient (int): 11
Int remainder: 0
Exponent: 387420489
Negation: -9

**Order of Operations**

- **P** arentheses
- **E** exponents
- **M** ultiplication
- **D** ivision
- **A** ddition
- **S** ubtraction

In [21]:
print(18 - (8 + 6) - 18 / 9)

2.0

> Sometimes the default order of operations isn't what we want:

In [22]:
hat_height_cm = 25
my_height_cm = 190
# How tall am I, in meters, when wearing my hat?
total_height_meters = hat_height_cm + my_height_cm / 100
print("Height in meters =", total_height_meters, "?")

Height in meters = 26.9 ?

> Parentheses are useful here. You can add them to force Python to evaluate sub-expressions in whatever order you want.

In [23]:
total_height_meters = (hat_height_cm + my_height_cm) / 100
print("Height in meters =", total_height_meters)

Height in meters = 2.15

**MIN & MAX**

`min` and `max` return the minimum and maximum or their arguments

In [25]:
print(min(3, 6, 9))
print(max(3, 6, 9))

3
9

**ABS**

abs returns the absolute value of an argument

In [27]:
print(abs(99))
print(abs(-99))

99
99

**Conversion**

In addition to being the names of Python's two main numerical types, int and float can also be called as functions which convert their arguments to the corresponding type:

In [ ]:
print(float(9))
print(int(9.99))
# They can even be called on strings!
print(int('908') + 1)

## EXERCISES FOR MODULE 1
> Syntax, Variables, and Numbers

In [1]:
print("You've successfully run some Python code")
print("Congratulations!")

You've successfully run some Python code
Congratulations!

### 1. Create variables to solve for radius and area.

In [2]:
pi = 3.14159
diameter = 3

# Create a variable 'radius' equal to half the diameter
radius = diameter / 2

# Create a variable called 'area', using formula for the area of a circle
area = pi * radius ** 2

# Let's print it out
print(f"The radius of the circle is {radius}")
print(f"The area of the circle is {area}")

The radius of the circle is 1.5
The area of the circle is 7.0685775

###  2. Add code to the following cell to swap variables a and b.

In [4]:
a = [1, 2, 3]
b = [3, 2, 1]

c = a
a = b
b = c

print(a)
print(b)

[3, 2, 1]
[1, 2, 3]

To swap the values of `a` and `b`, we use a temporary variable `c` to hold the original value of `a`. Next, we assign `b`'s value to `a`, effectively overwriting `a` with `b`'s contents. Finally, we assign the stored value from `c` (originally `a`) to `b`, completing the swap. This ensures that neither value is lost during the process.

In [5]:
# Kaggle's solution using a more descriptive third variable

tmp = a
a = b
b = tmp

print(a)
print(b)

[1, 2, 3]
[3, 2, 1]

In [6]:
# Swap two variables in one line
a, b = b, a

print(a)
print(b)

[3, 2, 1]
[1, 2, 3]

### 3. Add parentheses to the following expression so that it evaluates to 1.

In [7]:
# original
5 - 3 // 2

4

In [8]:
# With parentheses
(5 - 3 ) // 2

1

### 3b: Add parentheses to the following expression so that it evaluates to 0.

In [9]:
# Original
8 - 3 * 2 - 1 + 1

2

In [10]:
# With parenthesis
8 - 3 * 2 - (1 + 1)

0

In [ ]:
# Kaggle's solution
(8-3) * (2 - (1 + 1))

### 4. Halloween Candy
> Alice, Bob and Carol have agreed to pool their Halloween candy and split it evenly among themselves.
For the sake of their friendship, any candies left over will be smashed. For example, if they collectively
bring home 91 candies, they'll take 30 each and smash 1.

In [11]:
#  Write an arithmetic expression below to calculate how many candies they must smash for a given haul.

alice_candies = 121
bob_candies = 77
carol_candies = 109

# Calculate the amount to smash

to_smash = (alice_candies + bob_candies + carol_candies) % 3

print("Number of candies to smash for this haul:", to_smash)

Number of candies to smash for this haul: 1